* {
  margin: auto;
  padding: auto;
}
.forms {
  display: flex;
  justify-content: center;
  // background-color: lightgray;
  // background-image: url("https://filedn.com/lNoARe6kYwfHEYXrn4wlGAR/doodles/starBg.jpg");
  padding: 20px;
}
