* {
  padding: auto;
  margin: auto;
}
.spaceholder-h {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://filedn.com/lNoARe6kYwfHEYXrn4wlGAR/doodles/bg2.jpg");
  width: 80%;
}

.spaceholder-h img {
  height: 50%;
  width: 50%;
  padding-left: 2cm;
  padding-right: 2cm;
}
.spaceholder-h p {
  background-color: white;
  padding: 30px;
}

.spaceholder-h div {
  // background-color: orange;
}

// .spaceholder-h p {
//   color: orange;
// }

.button {
  background-color: orange;
  padding: 20px;
}
